#page_wrapper #page-header #page-header-wrapper #top a.logo {
  background-image: url("img/logo_admin.png");
}
#page-content .boardbgcolor {
  background-color: #ff7800;
  background-image: none;
}
.panel > .panel-heading.boardbgcolor {
  background-color: #ff7800;
  color: #fff;
}
#page-content .boardcolor,
a,
a:visited,
a:link,
a:hover,
a.btn-default:hover {
  color: #ff7800;
}
.rsscontrol-results .panel-heading {
  padding: 3px 15px;
}
/* Colors */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  border-color: #ff7800;
}
.pagination > li > a,
.pagination > li > span {
  color: #ff7800;
}
/* Drop down of datatable (column visibility) */
.dt-button-collection.dropdown-menu > .active > a,
.dt-button-collection.dropdown-menu > .active > a:hover,
.dt-button-collection.dropdown-menu > .active > a:focus {
  background: #ff7800;
}
